<div class="left-bar">
    <ng-container *ngFor="let menu of menus">
        <a *ngIf="menu.show" [routerLink]="[menu.link]" [routerLinkActive]="'active'">
            <!-- <img [src]="menu.icon" [alt]="menu.title"> -->
            <span>{{menu.title}}</span>
        </a>
    </ng-container>
    <ng-container>
        <a (click)="creerDonneesDeTest()">
            Peupler BD avec données de test
        </a>
        <a  (click)="login()" routerLink="/login">
            {{getLabelConnexion()}}
        </a>
    </ng-container>
</div>