@import '../styles/placeholder';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../styles/flex';

 



* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", Arial, Helvetica;
}


body {
    color: $text-color;
}

.panel-container {
    @include flex(row, space-between, center);
    height: calc(100vh - 70px);
    margin-top: 70px;
    @media screen and (max-width: 768px) {
        justify-content: flex-start;
    }
}

.container {
    @include flex(column, center, center);
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
    
}


.content {
    width: 100%;
    height: 100%;
}

.title {
    @include flex(row, flex-start, center);
    width: 100%;
    margin-bottom: 20px;

    @media screen and (max-width: 425px) {
        @include flex(row, space-between, center);
    }

    h1 {
        @media screen and (max-width: 400px) {
            font-size: 24px;
        }
    }
    img { width: 25px; height: 25px; margin-right: 10px; }

    .title-content {
        @include flex(row, flex-start, center);
        h1 {
            @media screen and (max-width: 768px) {
                font-size: medium;
            }
        }
        img { width: 25px; height: 25px; margin-right: 10px; }
    }

    
}


